* {
  padding: 0;
  margin: 0;
}

html {
}

body {
  margin: 0 10vw;
  min-height: 100vh;
  text-align: center;
}

header {

}

header > span:last-child {
  text-align: right;
}

#videos {

}

video {

}

footer {

}

#view {

}

#guide {
  width: 25%;
  padding: 3% 3%;
  margin: 3% 3%;
  text-align: center;
}

#selected-item {
  padding: 3% 3%;
  margin: 3% 3%;
  text-align: left;
  bottom: 0;
  border: 1px solid darkgray;
}

#chk_item {
  margin: 2% 2%;
  text-align: left;
  display: inline-block;
}
input[type=radio] {
  width: 3vw;
  height: 3vh;
  vertical-align: middle;
}
input[type=button] {
  width: 15vw;
  height: 5vh;
  vertical-align: middle;
}

input#submit_btn {
    width: 150px;
    height: 50px;
}

