<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form name="myform">
      <input name="text" type="text">
      <button name="btn">送信</button>
    </form>

    <ul id="message"></ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script>
      var socket = io();
      
      /*
      var form = document.forms.myform;
 
      form.btn.addEventListener('click', function(e) {
          e.preventDefault();
      
          socket.emit('chat', form.text.value);
          form.text.value = '';
      })
      */
    </script>
    
  </body>
</html>
