<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    <title>論破.net</title>
</head>

<body>
    <div class="container">
        <h1 class="title"><a href="./">論破.net</a></h1>

        <form class="top_form" method="POST" action="/timeline">
            <div class="top_form_user">
                <input class="user_name" type="text" name="user_name">
            </div>
            <div class="btnItem">
                <input id="submit_btn" type="submit" value="GO">
            </div>
        </form>

    </div>
</body>
</html>