<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>論破.net</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="./javascripts/rtc.js"></script>
  </head>
  <body>
    <button type="button" id="talk-button">talk</button>
    <button type="button" id="start-button">connect</button>
    <button type="button" id="stop-button" style="display: none;" disabled>disconnect</button>
    <div id="player_view"></div>

    <div id="videos">
      <!-- video -->
    </div>
    
  </body>
</html>
