<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>論破.net</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="./javascripts/rtc.js"></script>
  </head>
  <body>
    <h1 id="title">論破.net</h1>
    <label for="roomID"><p id="roomID">ルームID：<%= roomID %></p></label>
    <label for="theme"><p id="theme">テーマ：<%= theme %></p></label>
    <label for="item_type"><p id="item_type">あなた：<%= item_type %></p></label>

    <button type="button" id="talk-button">talk</button>
    <button type="button" id="start-button">connect</button>
    <button type="button" id="stop-button" style="display: none;" disabled>disconnect</button>
    <div id="player_view"></div>

    <div id="videos">
      <!-- video -->
    </div>
    
  </body>
</html>
