<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    <title>論破.net</title>
</head>
<body>
    <div id="view">
        <h1 id="title">論破.net</h1>

        <% timelines.forEach(function(timeline){ %>
        <div id="selected-item">
            <form method="POST" action="/play">
                <input id="theme" type="text" name="theme" readonly="readonly" value="<%= timeline.data %>">
                <input id="roomId" type="text" name="roomID" readonly="readonly" value="<%= timeline.roomId %>">
                <input id="item_positive" type="radio" name="item_type" value="肯定"">
                <label for="item_positive" >肯定</label>
                <input id="item_negative" type="radio" name="item_type" value="否定">
                <label for="item_negative">否定</label>
                <input id="item_audience" type="radio" name="item_type" value="視聴">
                <label for="item_audience">視聴</label>
                <input id="submit_btn" type="submit" value="OK">
            </form>
        </div>
        <% }) %>
    </div>
</body>
</html>